* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#particles-js {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

#border-gradient-rare {
  border: 10px solid;
  border-image: linear-gradient(to right, #cd7f32, #6b431c) 1;
}

#border-gradient-rare {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #cd7f32, #6b431c) 1;
  animation: 3s rotate linear infinite;
}

#border-gradient-silver {
  border: 10px solid;
  border-image: linear-gradient(to right, #c0c0c0, #fff0f0) 1;
}

#border-gradient-silver {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #c0c0c0, #fff0f0) 1;
  animation: 3s rotate linear infinite;
}

#border-gradient-gold {
  border: 10px solid;
  border-image: linear-gradient(to right, #ffd700, #fff4b7) 1;
}

#border-gradient-gold {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #ffd700, #fff4b7) 1;
  animation: 3s rotate linear infinite;
}

#border-gradient-top {
  border: 10px solid;
  border-image: linear-gradient(to right, #0cbaff, #7bdaff) 1;
}

#border-gradient-top {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #0cbaff, #7bdaff) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
